// COLORS //

$green: #3eb28b;
$orange: #ec502a;
$lite-orange: #fe7c34;
$gray: #797979;
$gray-dark: #363636;
$white: #ffffff;

// BREAKPOINTS //

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
